@charset "UTF-8";
* {
  margin: 0px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.button {
  padding: 10px 20px;
  background-color: #9081e1;
  color: #000000;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #e6e6e6;
}

.elementonv {
  color: #000000;
}

.portfolio {
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.dark-mode .portfolio {
  color: #000000;
}
.dark-mode .elementonv {
  color: #ffffff;
}

.hero {
  width: 100vw;
}

h1 {
  font-size: 120px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
}

.description {
  margin-left: 50px;
  margin-top: 100px;
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.header {
  z-index: 9999;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.0196078431) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(25px);
  position: sticky;
  top: 0;
  overflow: hidden;
}

.portfolio {
  font-weight: bold;
  font-size: 120px;
  /* Colore del testo */
  text-shadow: -1px -1px 0 #aa89ff, 1px -1px 0 #aa89ff, -1px 1px 0 #aa89ff, 1px 1px 0 #aa89ff;
}

.blocco3 {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding-left: 50px;
}

.content {
  padding-top: 300px;
}

.elemento {
  flex: 5;
  margin-left: 50px;
  flex-grow: 1;
  width: 45px;
  height: auto;
  left: 20px;
  position: sticky;
}

.img1 {
  width: 40px;
  height: auto;
  left: 20px;
  position: sticky;
  max-width: 100%;
  height: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: sticky;
}

#elemento1 {
  flex: 1;
}

#elemento2 {
  flex: 1;
}

#elemento3 {
  flex: 1;
}

#elemento4 {
  flex: 1;
}

.elementonv {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.elementonv:hover {
  font-weight: 400;
  transition: ease-out 0.5s;
  font-size: 17px;
  color: #5537fd;
}

.blocco25 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centra orizzontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 100vh;
}

.blocco2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centra orizzontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 100vh;
}

.blocco4 {
  display: flex;
}

.armonia {
  color: #6650e3;
}

.armonia-cont {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 70px;
  margin-bottom: 70px;
}

.linearità {
  color: #9fa1d1;
}

.minimal {
  color: #5537fd;
}

#hamburger-menu {
  display: none;
}

#menu {
  display: none;
}

footer {
  background-color: rgba(27, 1, 78, 0.4117647059);
  width: auto;
  height: 100px;
  align-items: center;
  margin-top: 100px;
}

.footer-cont {
  align-items: center;
  padding-top: 45px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* responsive */
@media (max-width: 800px) {
  .navbar {
    display: none;
    /* Nascondi la Navbar su schermi più piccoli */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  .header {
    height: 70px;
    padding-top: 0px;
  }
  .header.show {
    display: flex;
    /* Mostra la header quando il menu è attivo */
  }
  #hamburger-menu {
    display: block;
    z-index: 99999;
    cursor: pointer;
    font-size: 50px;
    color: #9fa1d1;
    float: right;
    position: fixed;
    top: -5px;
    right: 20px;
    border: none;
    background-color: none;
  }
  #menu {
    display: block;
    z-index: 999;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 100vw;
    background: rgb(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  #menu.is-active {
    left: 0px;
    top: 0px;
  }
  #menu ul {
    margin: 5px;
    padding-top: 80px;
  }
  #menu ul li {
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
  }
  #menu ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 200;
    font-size: 25px;
  }
  #menu ul li a:hover {
    color: #5537fd;
    font-weight: 400;
    transition: ease-out 0.5s;
  }
  .portfolio {
    font-size: 80px;
  }
  img {
    max-width: 100%;
    /* Ridimensiona l'immagine al 100% della larghezza del contenitore genitore */
  }
  .blocco3 {
    flex-wrap: wrap;
    max-width: 100%;
    align-items: center center;
    flex-direction: column;
  }
  .content {
    padding-top: 50px;
  }
  h1,
  .linearità,
  .armonia,
  .minimal {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  .blocco4 {
    margin-top: -250px;
    padding-bottom: 50px;
  }
  .armonia-cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  footer {
    height: 200px;
    width: auto;
  }
  .footer-cont {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */